header{
    background-color: #59788E;
    padding-bottom: 1px;
    padding-top: 1px;
  }
  h1{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
  }
  #tribute-info{
    background-color: #59B7C3;
  }
  
  #Bio{
    font-size: 18px;
    padding-bottom: 1px;
    padding-left: 20px;
    color: white;
    background-color: #000;
    background-image:
    url("https://cdn.pixabay.com/photo/2016/11/23/15/23/cosmos-1853491_1280.jpg")
  }
  img{
    border: 5px solid #FFFFFF;
    max-width:100%;
    max-height: 100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
  }
  #Intro{
    background-color: #799ec4;
    color: white;
  }
  #img-div-Dragon{
    float: right;
    width: 450px;
    height: 355px;
    padding-right: 60px;
    padding-left: 20px;
  }
  #img-div-Logo{
    float: left; 
    width: 490px;
    height: 210px;
    padding-bottom: 80px;
  }
  #img-caption{
    font-size: 15px;
    padding-left: 370px;
  }
  #img-caption-Logo{
    font-size: 15px;
    padding-left: 55px;
  }
  #img-caption-SpaceX{
    font-size: 15px;
    padding-left: 0px;
  }
  #Elon-companies{
    background-image:
      url("https://www.treehugger.com/thmb/UmL-cFxi2T5v7z0ZTV9CDLWoRKE=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__mnn__images__2019__07__shutterstock_522002659-dbf077ca98ae4d70956aa7bee1c6a404.jpg");
    color: white;
    padding-bottom: 5px;
  }
  #Tesla{
     background-image: url(https://i.pinimg.com/736x/59/b0/75/59b0758db4b6e8e7683420aa8e2aa89f.jpg);
    height: 600px;
    padding-top: 10px;
    color: white;
  }
  #img-Tesla-car{
   padding-top: 80px;
   padding-right: 40px;
  }
  